In [29]:
import pandas as pd

df = pd.read_csv('california_housing_test.csv')

df.head(n=5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [30]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [31]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [32]:
df.shape

(3000, 9)

In [33]:
df.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False

In [34]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [35]:
df['housing_median_age']

0       27.0
1       43.0
2       27.0
3       28.0
4       19.0
        ...
2995    23.0
2996    27.0
2997    10.0
2998    40.0
2999    42.0
Name: housing_median_age, Length: 3000, dtype: float64

In [40]:
df[df['median_income'] < 2]['median_house_value']

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

In [41]:
df.loc[df['median_income'] < 2, 'median_house_value']

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

In [50]:
df[df['median_income'] < 2]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
28,-118.45,34.07,19.0,4845.0,1609.0,3751.0,1539.0,1.5830,350000.0
43,-117.27,34.09,36.0,848.0,186.0,737.0,169.0,0.9838,79300.0
...,...,...,...,...,...,...,...,...,...
2943,-121.23,37.96,37.0,2351.0,564.0,1591.0,549.0,1.6563,57200.0
2964,-118.25,33.94,43.0,1113.0,378.0,1305.0,334.0,1.1434,91300.0
2985,-120.47,34.94,17.0,1368.0,308.0,642.0,303.0,1.8633,109400.0
2986,-118.25,33.93,42.0,819.0,233.0,899.0,228.0,1.1346,85400.0
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0

In [49]:
df.loc[df['housing_median_age'] < 20, ['total_bedrooms', 'total_rooms']]

      total_bedrooms  total_rooms
4              244.0       1241.0
7              471.0       2310.0
8              617.0       3080.0
13             694.0       3936.0
16             123.0        570.0
...              ...          ...
2981           945.0       4422.0
2984           849.0       3239.0
2985           308.0       1368.0
2991           718.0       4867.0
2997           201.0        956.0

[830 rows x 2 columns]

In [ ]:
df.loc[df['housing_median_age'] < 20, ['total_bedrooms', 'total_rooms']]

In [48]:
for col in df.columns[:2]:
    print(df[col])

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64
0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

In [52]:
df.loc[df['housing_median_age'] < 20, ['total_bedrooms', 'total_rooms']]

      total_bedrooms  total_rooms
4              244.0       1241.0
7              471.0       2310.0
8              617.0       3080.0
13             694.0       3936.0
16             123.0        570.0
...              ...          ...
2981           945.0       4422.0
2984           849.0       3239.0
2985           308.0       1368.0
2991           718.0       4867.0
2997           201.0        956.0

[830 rows x 2 columns]

In [53]:
df.loc[(df['housing_median_age'] < 20) & (df['median_house_value'] > 7000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
...,...,...,...,...,...,...,...,...,...
2981,-120.66,35.49,17.0,4422.0,945.0,2307.0,885.0,2.8285,171300.0
2984,-117.59,33.88,13.0,3239.0,849.0,2751.0,813.0,2.6111,107000.0
2985,-120.47,34.94,17.0,1368.0,308.0,642.0,303.0,1.8633,109400.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0

In [54]:
df['median_house_value'].max()

500001.0

In [55]:
df['median_house_value'].min()

22500.0

In [56]:
df[df['median_income'] == 3.1250]['median_house_value'].max()

233300.0

In [66]:
df[df['median_house_value'] == df['median_house_value'].min()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2001,-117.16,32.71,52.0,845.0,451.0,1230.0,375.0,1.0918,22500.0